.grid {
  padding: 0;
  margin: 0 auto;
}

.fullWidth {
  width: 100%;
}

.wide {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
}

.standard {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.outermostRow {
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.noGuttersRow {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.noGuttersRow .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none;
}

.c-1 {
  width: 8.33333%;
}

.c-2 {
  width: 16.66667%;
}

.c-3 {
  width: 25%;
}

.c-4 {
  width: 33.33333%;
}

.c-5 {
  width: 41.66667%;
}

.c-6 {
  width: 50%;
}

.c-7 {
  width: 58.33333%;
}

.c-8 {
  width: 66.66667%;
}

.c-9 {
  width: 75%;
}

.c-10 {
  width: 83.33333%;
}

.c-11 {
  width: 91.66667%;
}

.c-12 {
  width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

@media (min-width: 740px) {
  .outermostGrid {
    padding-left: 8px;
    padding-right: 8px;
  }
  .standard {
    width: 644px;
  }
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .outermostRow {
    padding-left: 10px;
    padding-right: 10px;
  }
  .noGuttersRow {
    margin-left: 0;
    margin-right: 0;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .noGuttersRow .col {
    padding-left: 0;
    padding-right: 0;
  }
  .m-0 {
    display: none;
  }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }
  .m-1 {
    width: 8.33333%;
  }
  .m-2 {
    width: 16.66667%;
  }
  .m-3 {
    width: 25%;
  }
  .m-4 {
    width: 33.33333%;
  }
  .m-5 {
    width: 41.66667%;
  }
  .m-6 {
    width: 50%;
  }
  .m-7 {
    width: 58.33333%;
  }
  .m-8 {
    width: 66.66667%;
  }
  .m-9 {
    width: 75%;
  }
  .m-10 {
    width: 83.33333%;
  }
  .m-11 {
    width: 91.66667%;
  }
  .m-12 {
    width: 100%;
  }
  .m-o-0 {
    margin-left: 0;
  }
  .m-o-1 {
    margin-left: 8.33333%;
  }
  .m-o-2 {
    margin-left: 16.66667%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-o-4 {
    margin-left: 33.33333%;
  }
  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-o-7 {
    margin-left: 58.33333%;
  }
  .m-o-8 {
    margin-left: 66.66667%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-o-10 {
    margin-left: 83.33333%;
  }
  .m-o-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1113px) {
  .outermostGrid {
    padding-left: 24px;
    padding-right: 24px;
  }
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .outermostRow {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .noGuttersRow {
    margin-left: 0;
    margin-right: 0;
  }
  .standard {
    width: 984px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .noGuttersRow .col {
    padding-left: 0;
    padding-right: 0;
  }
  .l-0 {
    display: none;
  }
  .l-1,
  .l-2,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }
  .l-1 {
    width: 8.33333%;
  }
  .l-2 {
    width: 16.66667%;
  }
  .l-3 {
    width: 25%;
  }
  .l-4 {
    width: 33.33333%;
  }
  .l-5 {
    width: 41.66667%;
  }
  .l-6 {
    width: 50%;
  }
  .l-7 {
    width: 58.33333%;
  }
  .l-8 {
    width: 66.66667%;
  }
  .l-9 {
    width: 75%;
  }
  .l-10 {
    width: 83.33333%;
  }
  .l-11 {
    width: 91.66667%;
  }
  .l-12 {
    width: 100%;
  }
  .l-o-0 {
    margin-left: 0;
  }
  .l-o-1 {
    margin-left: 8.33333%;
  }
  .l-o-2 {
    margin-left: 16.66667%;
  }
  .l-o-3 {
    margin-left: 25%;
  }
  .l-o-4 {
    margin-left: 33.33333%;
  }
  .l-o-5 {
    margin-left: 41.66667%;
  }
  .l-o-6 {
    margin-left: 50%;
  }
  .l-o-7 {
    margin-left: 58.33333%;
  }
  .l-o-8 {
    margin-left: 66.66667%;
  }
  .l-o-9 {
    margin-left: 75%;
  }
  .l-o-10 {
    margin-left: 83.33333%;
  }
  .l-o-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }
  .wide.outermostGrid {
    padding-left: 24px;
    padding-right: 24px;
  }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .wide .outermostRow {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .wide .noGuttersRow {
    margin-left: 0;
    margin-right: 0;
  }
  .wide .standard {
    width: 984px;
  }
  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .wide .noGuttersRow .col {
    padding-left: 0;
    padding-right: 0;
  }
  .wide .l-0 {
    display: none;
  }
  .wide .l-1,
  .wide .l-2,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block;
  }
  .wide .l-1 {
    width: 8.33333%;
  }
  .wide .l-2 {
    width: 16.66667%;
  }
  .wide .l-3 {
    width: 25%;
  }
  .wide .l-4 {
    width: 33.33333%;
  }
  .wide .l-5 {
    width: 41.66667%;
  }
  .wide .l-6 {
    width: 50%;
  }
  .wide .l-7 {
    width: 58.33333%;
  }
  .wide .l-8 {
    width: 66.66667%;
  }
  .wide .l-9 {
    width: 75%;
  }
  .wide .l-10 {
    width: 83.33333%;
  }
  .wide .l-11 {
    width: 91.66667%;
  }
  .wide .l-12 {
    width: 100%;
  }
  .wide .l-o-0 {
    margin-left: 0;
  }
  .wide .l-o-1 {
    margin-left: 8.33333%;
  }
  .wide .l-o-2 {
    margin-left: 16.66667%;
  }
  .wide .l-o-3 {
    margin-left: 25%;
  }
  .wide .l-o-4 {
    margin-left: 33.33333%;
  }
  .wide .l-o-5 {
    margin-left: 41.66667%;
  }
  .wide .l-o-6 {
    margin-left: 50%;
  }
  .wide .l-o-7 {
    margin-left: 58.33333%;
  }
  .wide .l-o-8 {
    margin-left: 66.66667%;
  }
  .wide .l-o-9 {
    margin-left: 75%;
  }
  .wide .l-o-10 {
    margin-left: 83.33333%;
  }
  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}
